<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Management</title>
    <link th:href="@{/images/banner.ico}" rel="icon">
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:insert="~{fragments/nav-admin.html :: nav-container}"></nav>
<div class="bg-light p-5 col-8 mx-auto text-center" style="font-size: 1rem;">Admin user page management under construction</div>
<script th:src="@{/js/pmb.js}"></script>
</body>
</html>