<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav fragment</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-0" th:fragment="nav-container">
        <a class="navbar-brand rounded p-1 text-white font-weight-bold btn-lg" href="#" style="background-color: limegreen;">Pay My Buddy</a>
        <div class="navbar-nav">
            <a class="nav-link  font-weight-bold" th:href="@{/home}" style="font-size: 1.2rem">Home</a>
            <a class="nav-link  font-weight-bold " th:href="@{/transfer}" style="font-size: 1.2rem">Transfer</a>
            <a class="nav-link  font-weight-bold " th:href="@{/connection}" style="font-size: 1.2rem">Connection</a>
            <a class="nav-link  font-weight-bold " th:href="@{/profile}" style="font-size: 1.2rem">Profile</a>
            <a class="nav-link  font-weight-bold " th:href="@{/contact}" style="font-size: 1.2rem">Contact</a>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn font-weight-bold">Log off</button>
            </form>
        </div>
    </div>
</nav>

</body>
</html>